<div class="fixed inset-0 flex items-start justify-end px-4 py-6 sm:p-6 pointer-events-none">
  <div class="max-w-sm w-full">
    <transition-group
      name="notify-group"
      tag="div"
      :enter-active-class="sortedNotification.length > 1 ?
          'transform ease-out delay-500 duration-300 transition' :
          'transform ease-out duration-300 transition'"
      enter-class="translate-x-4 opacity-0"
      enter-to-class="translate-x-0 opacity-100"
      leave-active-class="transition ease-in duration-500"
      leave-class="opacity-100"
      leave-to-class="opacity-0"
      move-class="transition ease-in-out duration-500"
    >
      <notice
        :key="notification.id"
        :notification="notification"
        :class="index > 0 ? 'mt-4' : ''"
        @remove="removeNotification"
        v-for="(notification, index) in sortedNotification"
      ></notice>
    </transition-group>
  </div>
</div>
